# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-ssr/
*.local

# Environment & local state
.env
.env.local
.env.*.local

# IDE & OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
